

* {
  margin:0;
  padding:0;
}

/* @GROUP TYPOGRAPHY */
body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color:#333;
}

h1 {
  font-weight: inherit;
  padding: 50px 0;
  font-size:1.5em;
}

h2 {
  font-weight: inherit;
  color: #1ba1e2;
  font-size:1em;
  padding: 40px 0 10px;
  text-align: center;
}

h3 {
  color: inherit;
  font-weight: inherit;
  padding: 40px 0 10px;
}

h4 {
  font-weight: inherit;
  font-size: 0.9375em;
  padding-bottom: 10px;
}

h5 {
  font-weight: inherit;
  font-size:1em;
  padding: 15px 0;
}

p {
  padding:5px 0;
  font-size: 0.875em;
  line-height: 1.75em;
}

a {
  color: inherit;
  text-decoration:none;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.inline-list > li {
  display:inline;
}

dt, dd {
  float: left;
  padding: 5px 5px 0;
  font-size: 0.875em;
}

dt {
  clear:both;
  font-weight: 600;
}

blockquote {
  font-size: 0.9375em;
}


/* @GROUP CONTAINER */
.container {
  position: relative;
}

.container-full {
  width: 100%;
}

.container-wide {
  max-width: 960px;
  margin:0 auto;
  padding: 0 1%;
}

.container-narrowed {
  max-width: 750px;
  margin:0 auto;
  padding: 0 1%;
}

.primary-color {
  background-color: #134157;
  color:#fff;
  font-weight: 200;
}

.secondary-color {
  background-color: #1ba1e2;
  color:#fff;
  font-weight: 300;
}

.light-noise {
  background-image:url('noise_lightgrey.png');
}

.light-grey {
  background-color: #fcfcfc;
}

.dark-grey {
  background-color: #222;
  color:#fff;
  font-weight: 300;
}


.center {
  text-align: center;
}

.column-container > div:first-child {
  margin-left: 0;
}

.column {
  float: left;
}

.column-1-3 {
  width: 32%;
  margin-left: 2%;
}

.column-3-5 {
  width: 59%;
}

.column-2-5 {
  width: 39%;
  margin-left: 2%;
}


.clearfix {
  clear: both;
}

/* @GROUP HEADER */
#header {
  height:60px;
  padding-top:10px;
}

#contact {
  float: right;
}

#header .fa {
  padding:0 10px 0 20px;
}

/* @GROUP PROFILE */
#portrait {
  padding: 40px 0 10px;
}

#profile {
  padding-bottom: 10px;
}

#profile p {
  font-size: 1em;
}

#social-list {
  padding-bottom: 25px;
}

#social-list > li {
  margin:0 5%;
  font-size: 0.875em;
}

#social-list a {
  color: #134157;
  text-decoration: underline;
}

/* @GROUP PITCH */
#pitch p {
  font-size: 1.1875em;
  line-height: 1.8em;
}

#graphic {
  height:190px;
  padding-top:50px;
}

.primary-color strong {
  font-weight: 400;
}

/* @GROUP PRODUCTS */
#products {
  margin:10px auto 40px;
}

/* @GROUP FEATURED */
#slidebox {
  border-top: 1px dotted #1ba1e2;
  padding-top:10px
}

#featured {
  padding-top:10px;
}

#featured a {
  text-decoration: underline;
  color: #134157;
}

.diagram {
  width: 85%;
  display: block;
  margin: 30px auto 10px;
}

.caption {
  font-size: 0.875em;
  padding: 5px 0;
}
/* @GROUP QUOTE */
#quote {
  color: #1ba1e2;
  padding-top:15px;
}

.quotation{
  font-size:40px;
  line-height: 40px;
}

.quotee{
  font-size:1em;
  padding:15px 0;
}


/* @GROUP MISSION */
#mission {
  border-top: 1px solid #333;
  padding-bottom: 40px;
  margin-top:30px;
}


/* @GROUP ACTION */
#action {
  padding-bottom: 20px;
}

#action p {
  font-size: 1em;
  padding-bottom: 20px;
}


input[type="text"], input[type="email"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input {
  padding: 6px;
  font-size: 0.875em;
  width:31.5%;
  border: 1px solid #333;
  margin: 0;
}

#entry_359074368, #entry_334739150 {
  margin-left:2.2%;
}

#ss-submit {
  background-color: #1ba1e2;
  margin-top: 20px;
  cursor: pointer;
}

/* @GROUP FOOTER */
#footer {
  padding: 20px 0 8px;
}

#footer li {
  font-size: 0.875em;
  list-style-type: none;
  padding:2px 0;
}

#footer .column-1-3 {

}

.hidden {
  display: none !important;
}


/* @RESPONSIVE LARGE */
@media (min-width: 800px) {

  /* @GROUP VISIBLE */
  .visible-small { display: none !important; }
  .visible-large { display: inherit !important; }
  .hidden-large { display: none !important; }

}

/* @RESPONSIVE SMALL */
@media (max-width: 800px) {

  /* @GROUP HEADER */
  #header .fa {
    font-size: 2em;
  }

  /* @GROUP PROFILE */
  #portrait-small {
    width: 100%;
    border-bottom:1px solid #134157;
  }

  #profile {
    padding-top: 10px;
  }

  /* @GROUP CONTAINER */
  #featured .column, #products .column {
    display: block;
  }

  #products .column-1-3 {
    width: 100%;
    margin: 0;
  }

  .column-3-5 {
    width: 100%;
  }

  .column-2-5 {
    width: 100%;
    margin: 0;
  }

  /* @GROUP FEATURED */

  #featured {
    overflow:hidden;
    max-height:0;
    opacity:0;

    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    transition: all .6s ease-out;

  }


  /* toggle featured project on and toggle button off */

  #slidebox:target #featured {
    max-height:900px;
    opacity:1;
  }

  #slidebox:target #toggle {
    max-height:0;
    opacity:0;
  }


  #toggle {
    display: block;
    font-size: 1em;
    width: 97%;
    padding:10px;
  }

  #toggle:visited {
    color:#fff;
  }

  #maximize {
    float: right;
  }

  /* @GROUP ACTION */
  #entry_359074368, #entry_334739150, #entry_974616531, #ss-submit {
    margin: 10px auto;
    display: block;
    width: 100%;
  }


  /* @GROUP VISIBLE */
  .visible-small { display: inherit !important; }
  .visible-large { display: none !important; }
  .hidden-small { display: none !important; }

}
