{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href="{{ url_for('static', filename='css/tip.css') }}">
  <link rel='shortcut icon' type='image/png' href="{{ url_for('static', filename='images/snirp_favicon.png') }}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div id="header">
    <a href="{{ url_for('tip_list') }}"><img src="{{ url_for('static', filename='images/tiplogo.jpg') }}" alt="logo tips & trucs" class="float-left"></a>
    <ul class="float-right">
      <li><a href="http://snirp.nl">Snirp advies</a></li>
      <li><a href="http://we-r-consultants.nl">We-R Consultants</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
  {% block main %}
  {% endblock %}
  <div id="spacer"></div>
</div>
<div id="footer">
  <div></div>
  <span>
    Mogelijk gemaakt door <a href="http://snirp.nl">Snirp</a> en <a href="http://we-r-consultants.nl">We-R Consultants</a>.
    Bezoek onze <a href="https://www.linkedin.com/groups?gid=7454573">linked-in groep</a>.
  </span>
</div>
{% endblock %}