{% extends 'layout-base.html' %}

{% block content %}

<section id="profile">
  <img class="hidden-sm hidden-xs" id="portrait" src="{{ url_for('static', filename='images/portrait_round.png') }}" alt="portret">
  <img class="hidden-md hidden-lg" id="portrait-small" src="{{ url_for('static', filename='images/portrait_landscape.jpg') }}" alt="portret">

  <div class="container-narrowed">
    <p>
      Snirp is een jong maar ervaren adviesbureau voor vastgoedbeheer, opgericht door Roy Prins.
      Een procesverbeteraar die succesvolle implementaties en optimalisaties bij woningcorporaties en in andere bedrijfstakken heeft geleid.
      Vanuit een bouwkundige achtergrond is informatiemanagement, en kansen die dit biedt, mijn passie.
    </p>
  </div>
  <ul class="list-inline" id="social-list">
    <li><a href="http://twitter.com/royprins" target="_blank" title="twitter">twitter</a></li>
    <li><a href="https://www.linkedin.com/in/prinsroy" target="_blank" title="linked-in profiel">linked-in</a></li>
    <li><a href="http://royprins.com/" target="_blank" title="blog van Roy Prins">blog</a></li>
  </ul>
</section>

<section id="pitch" class="primary-color">
  <div class="container-wide">
    <h1>Snirp: de stroomlijn van vastgoedbeheer.</h1>
    <p>
      Vastgoed zelf is niet gestroomlijnd, maar bij het beheer van vastgoed eisen we wel de perfecte stroomlijn.
      Dit betekent niet simpelweg minimale beheerkosten of maximaal rendement.
      Bij gestroomlijnd beheer werkt de organisatie samen aan vastgoed dat in dienst staat van de strategische bedrijfsdoelen.
      Hoe u dit vorm geeft? Daar denk en werk ik aan mee.
    </p>
  </div>
  <img src="{{ url_for('static', filename='images/stroomlijn.png') }}" width="700px" class="hidden-sm hidden-xs" alt="stroomlijn">
  <img src="{{ url_for('static', filename='images/stroomlijn-small.png') }}" width="354px" class="hidden-md hidden-lg" alt="stroomlijn">
</section>


<section id="products" class="container-wide row">
  <div class="col-md-4">
    <h2>Proces- en informatiemanagement</h2>
    <p>
      Welke knelpunten en risico's moet een gestroomlijnde organisatie in beeld hebben?
      De <em>tactische bedrijfsprocessen</em> vormen de spil van gestroomlijnd beheer.
      Niet alleen worden de strategische uitgangspunten geborgd en vertaald naar operationele processen,
      maar ook vindt er terugkoppeling plaats vanuit de praktijk naar de visie en sturing op lange termijn.
    </p>
    <p>
      Dit betekent concreet dat er een raamwerk is voor contractbeheer en voor keuzes op het gebied van investering of onderhoud,
      maar ook een goede signalering van risico's en een rapportage op indicatoren.
      Snirp biedt een quickscan van de tactische beheerprocessen en maken inzichtelijk waar knelpunten en risico's zijn.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Projectmanagement</h2>
    <p>
      Verandering en verbetering zijn een constante noodzaak, maar brengen ook risico"s met zich mee.
      Het resultaat van projecten kan uitgedrukt worden in meer stroomlijn, kennis, rendement of controle.
      Met mijn ervaring en Prince2 certificering als projectmanager, bewaak ik het resultaat en minimaliseer ik de risico's.
    </p>
    <p>
      Alle projecten zijn stuurbaar door schijnbaar moeilijke problemen te abstraheren en te reduceren tot eenvoudig controleerbare stappen.
      Hierbij helpt mijn specifieke kennis op gebied van informatievoorziening, integrale begrotingen, energieprestaties (EPA) en automatisering.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Trainingen Stravis en conditiemeting</h2>
    <p>
      Conditiemetingen conform NEN 2767 zijn een genormeerde methode om de onderhoudsstaat en risico"s van vastgoed in beeld te brengen.
      In de praktijk blijkt dat de expertise van de inspecteur en onderhoudsadviseurs van groot belang is.
    </p>
    <p>
      Met <a href="http://www.sg.nl/Onzeproducten/StraVIS/Default.aspx" target="_blank" title="Naar de Stravis site.">Stravis</a> beschikt u over het tactische gereedschap om beleidsuitgangspunten te borgen in onderhoud.
      Bovendien is het mogelijk om op basis van conditiemetingen te rapporteren en te segmenteren naar risico of sturingsaspect.
      Dit veronderstelt een goede kennis van de werking en mogelijkheden van deze software.
    </p>
    <p>
      Zowel Stravis als Conditiemetingen zijn gereedschappen die, indien met expertise gebruikt, van onmisbaar belang kunnen zijn.
      Ik ondersteun hierin en geef training, zodat u maximaal effectief kunt zijn.
    </p>
  </div>
</section>


<div id="refproject">

<section id="featured" class="container-wide row">
  <div class="col-md-7">
    <h5>Uitgelicht project</h5>
      <dl>
        <dt>onderwerp:</dt><dd>Optimalisatie proces planmatig onderhoud</dd>
        <dt>opdrachtgever:</dt><dd><a href="http://www.woonstede.nl/" target="_blank" title="Woonstede">Woonstede, Ede</a></dd>
        <dt>uitvoeringspartner:</dt><dd><a href="http://www.we-r-consultants.nl/" target="_blank" title="We-R Consultants">We-R consultants</a></dd>
      </dl>
      <div class="clearfix"></div>
    <h5>Vraag</h5>
    <p>
      Binnen Woonstede is de rol van de afdeling planmatig onderhoud veranderd:
      er wordt gevraagd om een onderbouwd advies binnen een taakstellend budget.
      De onderbouwing en sturing vindt plaats binnen technische kaders en binnen de risico-aspecten van NEN 2767.
      De processen en IT producten waren niet voor deze taak ingericht, hetgeen voor het draagvlak essentieel is.
    </p>
    <p>
      De vraag was om de processen en indicatoren te optimaliseren, zodat goed en effectief aan deze eisen kan worden voldaan.
      Een nevenvraag was om SG Stravis zodanig in te richten dat de scenario's voor onderhoud hierbij aansluiten.
      Tevens dient de synchronisatie met de cartotheek, het prijzenbestand en de bezitsstructuur in TOBIAS AX geborgd te zijn.
    </p>
    <h5>Uitwerking</h5>
    <p>
      In een klein projectteam van Woonstede, We-R Consultants en Snirp is een plan van aanpak gemaakt en gevolgd.
      Belangrijke randvoorwaarden waren de gelijktijdige update van het primaire systeem en de behoefte aan diverse gegevens (bezit, beleidsparameters, inventarisaties en onderhoudscriteria).
      Dit betekende dat we binnen het team goed vooruit moesten plannen en snel dienden te kunnen schakelen.
    </p>
    <p>
      De oplossing lag in een beperkte pilot (ongeveer 10% van het bezit) waarmee we snel een beeld konden krijgen van de consequenties van gemaakte keuzes.
      Dit gaf ook de mogelijkheid om de verbeteringen in een vroeg stadium met de stakeholders af te stemmen.
      Vervolgens zijn de optimalisaties doorgevoerd op basis van de verkregen feedback en zijn de wijzigingen succesvol naar de productieomgeving uitgerold.
    </p>
  </div>
  <div class="col-md-5 hidden-sm hidden-xs">
    <img src="{{ url_for('static', filename='images/diagram_spin.jpg') }}" class="diagram" alt="diagram">
    <div class='caption text-center'>Onderhoudskosten per risico-aspect.</div>
    <img src="{{ url_for('static', filename='images/diagram_bars.png') }}" class="diagram" alt="diagram">
    <div class="caption text-center">Kosten voor verschillende onderhoudsniveaus.</div>
  </div>
</section>

<section id="quote" class="container-wide row">
  <div class="col-md-1 hidden-sm hidden-xs quotemark">
    “
  </div>
  <blockquote class="col-md-10">
    <p>Snirpadvies heeft in een kort tijdbestek veel werk verricht. Het project stond onder tijdsdruk omdat we moesten starten met de MJOB. Het viel ons positief op dat Snirpadvies proactief meedenkt met oplossingen en zich ondanks de druk flexibel opstelt. Door de korte communicatielijn was het mogelijk om snel te schakelen en het project te realiseren binnen de deadline.</p>
    <p>In het project waren een aantal controlemomenten bepaald, waarop wij de voortgang van het project konden bewaken en de kwaliteit van de geleverde gegevens.</p>
    <p>Snirpadvies is handig in het verzamelen en analyseren van de gegevens, waardoor wij snel een beeld kregen van de gemaakte keuzes en consequenties daarvan. Mede door de input van Snirpadvies konden wij waarnodig het project bij te sturen om het gewenste resultaat te behalen.</p>
    <p class="text-right">Alex Boekhorst: adviseur Vastgoedsturing, Woonstede</p>
  </blockquote>
  <div class="col-md-1 hidden-sm hidden-xs quotemark">
    ”
  </div>
</section>

</div><!-- /#refproject -->


<section class="light-noise" id="mission">
  <div class="container-wide row">
    <div class="col-md-3 hidden-sm hidden-xs">
      <i id="beeldmerk" class="fa fa-location-arrow"></i>
    </div>
    <div class="col-md-9">
      <h3>De missie en werkwijze van Snirp.</h3>
      <p>
        Met Snirp committeer ik me aan het optimaliseren van het technisch vastgoedbeheer en onderhoud.
        Dit is een dynamisch speelveld, vooral wat betreft de financiële kaders.
        De realiteit is dat de stroomlijn van het vastgoedbeheer kritiek geworden is voor de continuïteit en de bedrijfsdoelen van vastgoedbeheerders.
        Met mijn ervaring en ambitie kan ik hierin een verschil maken.
      </p>
      <p>
        Deze missie voer ik samen met u op interim of project basis uit.
        Ik werk ook graag samen met ondernemers die ook een uitdaging vinden in de veranderde realiteit van de markt.
        Kleinschaligheid, vakmanschap en ondernemerschap zorgen zo voor een prikkelende en duurzame relatie waarin de opdrachtgever de winnaar is.
      </p>
    </div>
  </div>
</section>

{% endblock %}