{% extends "layout-base.html" %}
{% macro html5_date(date, format='%B %d, %Y', pubdate=True) -%}
    <time{{ ' pubdate' if pubdate }} datetime="{{ date.isoformat() }}">
        {{ date }}</time>
{%- endmacro %}

{% block title %}Stravis tips | Snirp{% endblock %}
{% block description %}Tips voor effectiever werken met Stravis{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/atom+xml" title="Stravis tips" href="{{ url_for('tip_feed') }}" />
{% endblock %}

{% block content %}
<div class="container-narrowed">
<h1 class="pull-left">Stravis tips & trucs</h1>
<a href="{{ url_for('tip_feed') }}" id="feedlink" class="pull-right">
  <button class="btn btn-default"><i class="fa fa-rss"></i> feed</button>
</a>
<div class="clearfix"></div>
<div id="articles">
  {% for tip in tips %}
  <article>
    <a href=" {{ tip.url() }} " class="blocklink">
      <h2>{{ tip.title }}</h2>
      <p>{{ tip.summary|jinjatag|markdown|safe }}</p>
    </a>
  </article>
  {% endfor %}
</div>

<p>
  Hier publiceren we regelmatig tips & trucs voor beter en effectiever
  gebruik van Stravis. Deze zijn voor zowel de kerngebruikers als de managers en
  teamleiders die te maken hebben met onderhoud en technisch beheer.
</p>
<p>
  Deze artikelen worden u aangeboden door Snirp en
  <a href="http://www.we-r-consultants.nl/" target="_blank">We-R consultants</a>.
  Wij hopen hiermee het gebruik en de mogelijkheden van Stravis te professionaliseren.
  We bespreken onderstaande artikelen op onze <a href="https://www.linkedin.com/groups?gid=7454573" target="_blank">
  Stravis Tips & Trucs groep </a> op Linked-in.
  Hier horen we ook graag uw suggesties.
</p>

</div>
{% endblock %}
